{% set nodename = grains['host'] %}
{% include 'salttemplates/common/managed_by_salt_bang.j2' %}

frr version 7.4+cl4u1
frr defaults datacenter
hostname {{ nodename }}
ip forwarding
zebra nexthop proto only
service integrated-vtysh-config
!
interface lo
 ip ospf area 0.0.0.0
!
interface swp1
 ip ospf area 0.0.0.0
!
interface swp2
 ip ospf area 0.0.0.0
!
{% if nodename != 'n5' %}
interface swp3
 ip ospf area 0.0.0.0
!
interface swp4
 ip ospf area 0.0.0.0
!
interface swp5
 ip ospf area 0.0.0.0
!
{% endif %}
{% if nodename == 'n3' %}
interface swp7
 ip ospf area 0.0.0.0
!
{% endif %}
{% if nodename == 'n4' %}
interface swp6
 ip ospf area 0.0.0.0
!
{% endif %}

router bgp 1000
 neighbor 10.100.1.10 remote-as 1000
 neighbor 10.100.1.10 update-source lo
 neighbor 10.100.1.12 remote-as 1000
 neighbor 10.100.1.12 update-source lo
 !
 address-family ipv4 unicast
  neighbor 10.100.1.10 route-reflector-client
  neighbor 10.100.1.12 route-reflector-client
 exit-address-family
!
router ospf
 log-adjacency-changes
!
line vty
!
