{% set nodename = grains['host'] %}
{% include 'salttemplates/common/managed_by_salt_bang.j2' %}

frr defaults datacenter
hostname {{ nodename }}
ip forwarding
zebra nexthop proto only
service integrated-vtysh-config
!
interface ens4
 ip ospf area 0.0.0.0
!
interface lo
 ip ospf area 0.0.0.0
!
router ospf
!
line vty
!
