{% set nodename = grains['host'] %}
{% include 'salttemplates/common/managed_by_salt_bang.j2' %}

frr defaults datacenter
hostname {{ nodename }}
ip forwarding
zebra nexthop proto only
service integrated-vtysh-config
!
interface ens4
 ip ospf area 0.0.0.0
!
interface lo
 ip ospf area 0.0.0.0
!
router bgp 1000
 bgp log-neighbor-changes
 neighbor LABFABRIC peer-group
 neighbor LABFABRIC remote-as 1000
 neighbor LABFABRIC update-source lo
 bgp listen range 10.100.1.0/24 peer-group LABFABRIC
 !
 address-family ipv4 unicast
  neighbor LABFABRIC route-reflector-client
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor LABFABRIC activate
 exit-address-family
!
router ospf
 log-adjacency-changes
!
line vty
!
