{% include 'salttemplates/common/managed_by_salt.j2' %}

auto lo
iface lo inet loopback
    address 10.100.1.10/32

auto ens3
iface ens3 inet dhcp

auto ens4
iface ens4 inet static
    mtu 9216
    address 10.1.103.10/24
