{% include 'salttemplates/common/managed_by_salt.j2' %}

auto lo
iface lo inet loopback

auto ens3
iface ens3 inet dhcp

auto ens4
iface ens4 inet static
    address 10.20.1.13/24

auto ens5
iface ens5 inet static
    address 10.5.103.13/24

auto ens6
iface ens6 inet static
    address 10.30.1.13/24
