{% set nodetype = grains['node_type'] %}
Welcome to the lab. This is a {{ nodetype }} node.

See the network diagram at https://github.com/tomammon/home-vx-lab/blob/master/docs/cumulus-base-nodemap.png for topology details.

All configuration and code can be found in this lab's git repo at https://github.com/tomammon/home-vx-lab

