{% include 'salttemplates/common/managed_by_salt.j2' %}

file_roots:
  base:
    - /srv/salt

fileserver_backend:
  - git
  - roots

top_file_merging_strategy: same

# on straight debian systems using gitpython, remove pygit2 with apt-get remove python3-pygit2
# this file is optimized for Ubuntu 20, so no changes to the default python git libraries are required
# to use this git configuration, need to create root ssh keys and add that public key to the repo
gitfs_remotes:

  - git@github.com:tomammon/home-vx-lab.git:
    - base: master

state_top_saltenv: base

jinja_env:
  lstrip_blocks: True
  trim_blocks: True

log_level: info